.top-menu {
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        h2 {
            margin: 0;
            font-size: 22px;
        }
    }

}